.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.tda i {
  margin-right: .4em
}
ul,li  {
  list-style: none;
  width: 100%;
  margin: 0;
}
.btn-danger {
  margin-right: 1em;
}
.text {
  font-size: 1.2em;
  display: inline-block;
  margin-right: 1rem;
}
.text-done  {
  text-decoration: line-through;
}
.btn-remove {
  margin-right: 1rem;
}
.counter {
  display: flex;
  font-size: 1.2em;
  margin-top: 2rem;
  line-height: 1;
}
.counter .badge {
  margin-right: 1em; 
  margin-top: -0.3rem;
}
.badge-total {
  border-radius: 50%;
  margin-left: .4em;

}
